<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="form-container">
        <h2>Reset Password</h2>
        <form id="resetPasswordForm">
            <input type="hidden" id="token" name="token" value="<%= token %>">
            <input type="hidden" id="isCompanyUser" name="isCompanyUser" value="<%= isCompanyUser %>">
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required placeholder="Enter your new Password">
                <button type="button" id="toggleNewPassword" class="eye"><i id="toggleNewPasswordIcon" class="fas fa-eye"></i></button>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Confirm New Password:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required placeholder="Re-enter your new Password">
                <button type="button" id="toggleConfirmNewPassword" class="eye"><i id="toggleConfirmNewPasswordIcon" class="fas fa-eye"></i></button>
            </div>
            <button class="submit-btn" type="submit">Reset Password</button>
            <div id="message"></div>
        </form>
    </div>
    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const token = document.getElementById('token').value;
            const isCompanyUser = document.getElementById('isCompanyUser').value;
            const newPassword = document.getElementById('newPassword').value;
            const confirmNewPassword = document.getElementById('confirmNewPassword').value;
            const messageDiv = document.getElementById('message');

            if (newPassword !== confirmNewPassword) {
                messageDiv.textContent = 'Passwords do not match.';
                return;
            }

            fetch('/resetPassword', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ token, newPassword, isCompanyUser })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    messageDiv.style.color = 'green';
                    messageDiv.textContent = data.message;
                    setTimeout(() => {
                        window.location.href = '/login';
                    }, 2000);
                } else {
                    messageDiv.style.color = 'red';
                    messageDiv.textContent = data.message || 'An error occurred. Please try again later.';
                }
            })
            .catch(error => {
                messageDiv.style.color = 'red';
                messageDiv.textContent = 'An error occurred. Please try again later.';
                console.error('Error:', error);
            });
        });

        function togglePasswordVisibility(inputId, iconId) {
            const input = document.getElementById(inputId);
            const icon = document.getElementById(iconId);
            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                input.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }

        document.getElementById('toggleNewPassword').addEventListener('click', () => {
            togglePasswordVisibility('newPassword', 'toggleNewPasswordIcon');
        });

        document.getElementById('toggleConfirmNewPassword').addEventListener('click', () => {
            togglePasswordVisibility('confirmNewPassword', 'toggleConfirmNewPasswordIcon');
        });
    </script>
    <style>
        .eye {
            background: none;
            border: none;
            cursor: pointer;
        }
    </style>
</body>
</html>
